
/*================================
=================conent==============
====================================*/
div.content {
	margin-bottom:60px; 
}
div.content .login-box-body {
	/*height: 300px;*/
	padding-top: 0px;
}

div.content .login-box-body .login-box-msg {
	font-weight: bold;
	font-size: 25px;
	background: #c9edff;
	margin-bottom: 25px;
	padding-top: 15px;
	width: 113%;
	margin-left: -20px;
}

/*
 *	Modal 
 */
#modal-register .modal-header {
	background: #008bba;
}
label.error {
	color:red;
}

.email-standard {
	margin-left: -25px;
	margin-top: 10px;
	display: inline-block;
}

